@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-blue: #17153B;
  --bg-light-blue: #433D8B;
  --black: #000;
  --lightness: #CBACD6;
  --dark-green: #417B5A;
  --lightness-green: #43FF00;
  --dark-red: #DB5461;
  --lightness-red: #FF0707;
}

html,
body,
.base {
  scroll-behavior: smooth;
  background-color: var(--bg-blue);
  font-family: "Inter", sans-serif;
}

a,
a:hover {
  text-decoration: none !important;
}